<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de usuarios</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button>
        <ion-avatar slot="start"> 
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div>
    <!-- <ion-searchbar placeholder="Search..." [(ngModel)]="searchTerm"></ion-searchbar> -->
    <ion-segment [(ngModel)]="segmentValue" mode="ios" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="miembros">
        Miembros
      </ion-segment-button>
      <ion-segment-button value="admins">
        Admins
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="action-buttons">
    <ion-button color="primary" (click)="addNewUser()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
    <!-- <ion-button color="medium" (click)="importMembers()">Import Members</ion-button>
    <ion-button color="success" (click)="exportMembers()">Export Members (Excel)</ion-button> -->
    <ion-item>
      <ion-label>Filtros</ion-label>
      <ion-select (ionChange)="openFilters($event)">
        <ion-select-option value="option1">Opción 1</ion-select-option>
        <ion-select-option value="option2">Opción 2</ion-select-option>
        <ion-select-option value="option3">Opción 3</ion-select-option>
      </ion-select>
    </ion-item>
    
  </div>

  <ion-list>
    <ion-item-group *ngIf="segmentValue === 'miembros'">
      <ion-item-divider color="light">
        <ion-label>Miembros</ion-label>
      </ion-item-divider>
      <ion-item lines="none" *ngFor="let member of filteredUsers">
        <ion-thumbnail>
          <img [src]="member.photo" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ member.name }}</h2>
          <p>{{ member.email }}</p>
        </ion-label>
        <ion-chip [color]="member.isActive ? 'success' : 'danger'">{{ member.isActive ? 'Active' : 'Inactive' }}</ion-chip>
        <ion-buttons slot="end">
          <ion-button (click)="editMember(member)">
            <ion-icon name="create-outline" color="primary"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteMember(member)" color="danger">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button color="black"  (click)="profileMember(member)">
            Ir
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-group>
  
    <ion-item-group *ngIf="segmentValue === 'admins'">
      <ion-item-divider color="light">
        <ion-label>Administradores</ion-label>
      </ion-item-divider>
      <ion-item lines="none" *ngFor="let admin of filteredUsers">
        <ion-thumbnail slot="start">
          <img [src]="admin.photo" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ admin.name }}</h2>
          <p>{{ admin.email }}</p>
        </ion-label>
        <ion-chip [color]="admin.isActive ? 'success' : 'danger'">{{ admin.isActive ? 'Active' : 'Inactive' }}</ion-chip>
        <ion-buttons slot="end">
          <ion-button (click)="editMember(admin)">
            <ion-icon name="create-outline" color="primary"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteMember(admin)">
            <ion-icon name="trash-outline" color="danger"></ion-icon>
          </ion-button>
          <ion-button color="dark"  (click)="profileMember(admin)">
            Ir
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-group>
  </ion-list>  
</ion-content>
