<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" >
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agregar Miembro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Activo</ion-label>
        <ion-toggle formControlName="isActive"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Rol</ion-label>
        <ion-select formControlName="role">
          <ion-select-option value="miembros">Miembros</ion-select-option>
          <ion-select-option value="admins">Admins</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input formControlName="address"></ion-input>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onSubmit()" [disabled]="memberForm.invalid">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
