<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-content class="ion-padding">
      <ion-list>
        <ion-list-header>NexGen</ion-list-header>
        <ion-note>Bienmvenido,&#64;ionicframework.com</ion-note>
        <ion-list-header>Modulos</ion-list-header>
        <ion-item routerLink="/users">
          <ion-icon name="people"></ion-icon>
          Users
        </ion-item>
        <ion-item routerLink="/control-panel">
          <ion-icon name="settings"></ion-icon>
          Control Panel
        </ion-item>
        <ion-item routerLink="/projects">
          <ion-icon name="folder"></ion-icon>
          Projects
        </ion-item>
        <ion-item routerLink="/tasks">
          <ion-icon name="checkmark-circle"></ion-icon>
          Tasks
        </ion-item>
        <ion-item routerLink="/logs">
          <ion-icon name="book"></ion-icon>
          Logs
        </ion-item>
        <ion-item routerLink="/group-chat">
          <ion-icon name="chatbubbles"></ion-icon>
          Group Chat
        </ion-item>
        <ion-item routerLink="/reports">
          <ion-icon name="document-text"></ion-icon>
          Reports
        </ion-item>        
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
