<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <div class="menu-logo">
      <ion-img src="https://lh3.googleusercontent.com/a/ACg8ocJ1kC00P6IWGLLUMFnamSYZ_l402ptDozectaPc4QAC1yyLIJk=s288-c-no" style="border-radius: 50%;"></ion-img>
    </div>
    <ion-content class="ion-padding">
      <ion-list class="ion-background-menu rounded-top">
        <ion-list-header>Bienvenido, {{ userName }}</ion-list-header>
        <ion-note>
          {{ userEmail }}
        </ion-note>
        <ion-list-header>Modulos</ion-list-header>
        <ion-item routerLink="/home" class="ion-background-menu2">
          <ion-icon name="home-outline" slot="end"></ion-icon>
          Home
        </ion-item>
      </ion-list>
      <ion-list class="ion-background-menu rounded-bottom">
        <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
          <ion-item *ngFor="let item of items" [routerLink]="item.link" class="ion-background-menu2">
            <!-- <ion-icon [name]="item.icon" slot="end"></ion-icon> -->
            <ion-label>{{ item.title }} </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
