<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div *ngIf="!member; else memberDetails">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando datos...</p>
  </div>
  <ng-template #memberDetails>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ member?.name }}</ion-card-title>
        <ion-card-subtitle>{{ member?.role | titlecase }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Email:</strong> {{ member?.email }}</p>
        <p><strong>Numero de Miembro:</strong> {{ member?.memberNumber }}</p>
        <p><strong>Estado:</strong> {{ member?.isActive ? 'Activo' : 'Inactivo' }}</p>
        <p><strong>Dirección:</strong> {{ member?.address }}</p>
      </ion-card-content>
    </ion-card>
  </ng-template> -->


</ion-content>
